@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
/*font-family: "Big Shoulders Display", cursive;*/
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 12px;
  margin: 2rem;
  overflow: hidden;
}
.box {
  padding: 40px;
}
.box1 {
  background-color: hsl(31, 77%, 52%);
}
.box h2 {
  font-family: "Big Shoulders Display", cursive;
  padding: 10px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
.box p {
  padding: 10px;
  margin-bottom: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}
.box a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 26px;
  padding: 13px 27px;
  margin-top: 25px;
  display: inline-block;
  border: 2px solid hsl(0, 0%, 95%);
  transition: all 0.4s ease-in-out;
}

.box1 a {
  color: hsl(31, 77%, 52%);
}
.box2 a {
  color: hsl(184, 100%, 22%);
}
.box3 a {
  color: hsl(179, 100%, 13%);
}

.box2 {
  background-color: hsl(184, 100%, 22%);
}
.box2 h2 {
  font-family: "Big Shoulders Display", cursive;
}

.box3 {
  background-color: hsl(179, 100%, 13%);
}
.box3 h2 {
  font-family: "Big Shoulders Display", cursive;
}

.box a:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
